/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.t-heading {
  margin: 30px 0;
}

.sentence1, .sentence2, .start {
  margin-bottom: 35px;
  margin-left: 30px;
}

body {
  margin: 30px;
  color: black;
  font-size: 15px;
  font-family: arial, cursive, sans-serif;
  line-height: 15px;
}

.i-notice {
  color: green;
  margin: 50px;
}

.i-heading {
  margin-bottom: 25px;
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: avenir;
}

.new {
  margin: 20px 0;
}

.n-field1, .n-field2 {
  margin-bottom: 10px;
}

.n-field h4 {
  font-family: avenir;
}

#n-error {
  width: 400px;
  background-color: whitesmoke;
  margin-bottom: 20px;
}

#n-error h4 {
  background-color: firebrick;
  font-size: 13px;
  color: white;
  padding-left: 13px;
}

#n-error h5 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  font-family: avenir;
}

.e-heading {
  margin-bottom: 20px;
}

.e-field1, .e-field2, .e-field3 {
  margin-bottom: 10px;
}

.e-field1, .e-field2 {
  font-family: avenir;
  margin-top: 10px;
}

.redirect {
  display: flex;
}

.e-slink, .e-border, .e-blink {
  margin-right: 3px;
}

.s-elink, .s-border, .s-blink {
  margin-bottom: 20px;
}

.s-notice {
  font-family: avenir;
  color: green;
  margin: 35px 30px;
}

.s-title, .s-body {
  display: flex;
  margin-bottom: 35px;
  padding-left: 30px;
}

.t-title, .b-body {
  font-family: arial-black;
}

.t-content, .b-content {
  font-family: avenir;
  padding-left: 5px;
}

.s-elink, .s-border, .s-blink {
  margin-right: 5px;
}








